body {
  padding: 50px;
}

.body2 {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background: url(../images/purpleBackground.png);
   	background-size: 100%;
   	background-repeat: no-repeat;
}
a {
  color: #00B7FF;
}

.loginRectangle {
	display: inline-block;
	text-align: center;
}

.title {
	text-align: center;
	margin-top: 50px;
}

.title2 {
	text-align: center;
	margin-top: 20px;
}


.randomText {
	text-align: center;
	margin-top: -10px;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	height: 7%;
	width: 100%;
	z-index: 99;
	padding-top: 0.1em;
	padding-left: 0.4em;
	background-color: rgba(255, 128, 223, 1);
	border-bottom: 1px solid rgba(255, 77, 210, .3);
}

.navbar #title{
	max-height: 10%;
	max-width: 20%;
	left: 10px;
	position: relative;
	text-align: left;
	display: inline-block;
}

.navbar #name{
	position: relative;
	max-height: 10%;
	min-width: 20%;
	left: 28em;	
	text-align: right;
	display: inline-block;
}

.graph{
	position: relative;
	padding: 5px;
	vertical-align: center;
	width: 50%;
	height: auto;
	top: 50%;
    left: 27%;
    margin-top: 0.5em;
    margin-left: -0.5em;
	height: 250px;
}

.table {
	position: relative;
	padding: 5px;
	vertical-align: center;
	width: 25%;
	height: auto;
	top: 50%;
    left: 40%;
    margin-top: 0.5em;
    margin-left: -0.5em;
}

.table th{
	text-align: center;
}
.table td{
	text-align: center;
}
}